body {
    overflow-x: hidden;
}

marquee, figcaption, nav, h2, p, small {
    font-family: 'ABCDiatypeMonoEdu-Light';
}

marquee {
    margin-top: 0.5vh;
    font-family: 'ABCDiatypeMonoEdu-Light';
}

nav {
    display: grid;
    grid-template-columns: 0.30fr 0.10fr 0.10fr 0.10fr 0.10fr 0.10fr 0.10fr;
    margin-bottom: 0.5vh;
    font-family: 'ABCDiatypeMonoEdu-Light';
    border-bottom: 1px solid black;
    font-size: 10pt;
    padding-bottom: 1vh;
}

.archive, .feature, .project, .tool {
    margin: 0;
    width: 99vw; height: 96vh;
}

.nav-li:hover {
    transition: all 0.2s;
    font-weight: bolder;
    cursor: pointer;
}

li {
    list-style-type: none;
}

h2 {
    font-family: 'ABCDiatypeMonoEdu-Light';
    font-weight: lighter;
    font-size: 12pt;
    margin-top: 2.5vh;
}

p {
    font-family: 'ABCDiatypeMonoEdu-Light';
    font-size: 10pt;
    text-align: justify;
    margin-right: 8vw;
    margin-left: 4vw;
}

.about {
    display: none;
    width: 40vw;
}

.archive {
    display: none;
    grid-template-columns: 1fr 1fr;
    font-family: 'ABCDiatypeMonoEdu-Light';
    border-bottom: 1px solid black;
    font-size: 10pt;
}

.archive-date, .archive-title {
    margin-top: 1vh;
    border-bottom: 1px solid black;
    width: 20vw;
}

.a-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 3vh;
    margin-left: -1vw;
    margin-top: 4vh;
    width: 15vw;
}

.a-right {
    width: 65vw;
}

.a-img {
    margin-top: 4vh;
    max-width: 45vw;
    max-height: 75vh;
    border: solid 1px black;
}

.a-figcaption {
    margin-right: 20vw;
}

.archive-title {
    text-align: left;
}

.feature {
    height: 92vh;
}

#f-img1 {
    position: relative;
    left: 3vw;
    top: 6vh;
}

#f-img2 {
    position: relative;
    left: 8vw;
    top: 22vh;
}

#f-img3 {
    position: relative;
    left: 25vw;
    top: 34vh;
}

#f-img4 {
    position: relative;
    left: -24vw;
    top: 64vh;
}

#f-img5 {
    position: relative;
    left: 1vw;
    top: 2vh;
}

#f-img6 {
    position: relative;
    left: 4vw;
    top: 62vh;
}

#f-img7 {
    position: absolute;
    left: 40vw;
    top: 38vh;
}

.project {
    display: none;
    grid-template-columns: 0.2fr 0.8fr;
    border-bottom: 1px solid black;
}

.p-left {
    margin-left: 1vw;
    width: 10vw;
    display: grid;
    grid-template-columns: 1fr;
}

.p-right {
    display: grid;
    grid-template-columns: 1fr;
}

.p-img {
    border: solid 0.5px black;
    width: 15vw;
    height: 25vh;
}

.f-img {
    width: 15vw; height: 15vw;
    border: solid black 1px;
}

.tool {
    margin-top: 2vh;
    display: none;
    border-bottom: 1px solid black;
}

.t-img {
    border: solid 1px black;
    width: 12vw; height: 24vh;
}

figcaption {
    font-size: 10pt;
}

@font-face {
    font-family: 'ABCDiatypeMonoEdu-Light';
    src: url('fonts/ABCDiatypeMonoEdu-Light.woff') format('.woff'),
    url('fonts/ABCDiatypeMonoEdu-Light.woff') format('.woff2');
}

@font-face {
    font-family: 'Agrandir-Regular';
    src: url('fonts/Agrandir-Regular.woff') format('.woff'),
         url('fonts/Agrandir-Regular.woff2') format('.woff2');
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}